body {
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

h1 {
  font-family: "PixelGothic";
  font-size: 60px;
  letter-spacing: 10px;
}

canvas {
  background-color: black;
}

/* @font-face {
    font-family: "IskoolaPota";
    src: url("fonts/Iskoola Pota - Regular.ttf");
  } */

@font-face {
  font-family: "PixelGothic";
  src: url("fonts/Straight pixel gothic.otf");
}