body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/09_GUI/universe_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "PixelGothic", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 100px;
  /* color: #38002C; */
  font-weight: 500;
  letter-spacing: 10px;
  margin-block-start: 50px;
  margin-block-end: 50px;
  -webkit-text-stroke: 0.3px white;
  -webkit-text-fill-color: #38002C;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.4);
}

h2 {
  margin-block-start: unset;
  margin-block-end: 10px;
  color: white;
  font-weight: 500;
  -webkit-text-stroke: 0.5px black;
  font-size: 40px;
}

canvas {
  background-color: black;
  display: block;
}

.intro-screen {
  width: 720px;
  height: 480px;
  background-image: url('img/09_GUI/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-text {
  display: flex;
  justify-content: space-between;
  width: 540px;
}

.title-text-end {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 70px;
}

.play-button {
  background-color: transparent;
  border: none;
  background-image: url('img/09_GUI/intro/Button_Square_164_Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 96px;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button img {
  width: 75px;
  transition: ease-in 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.play-button img:hover {
  background-color: transparent;


  cursor: pointer;
  transition: ease-in 100ms;
  box-shadow: 0px 0px 30px rgb(255, 102, 0);
}




.outro-screen {
  width: 720px;
  height: 480px;
  background-image: url('img/09_GUI/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score{
  -webkit-text-stroke: 2px #38002C;
  -webkit-text-fill-color: yellow;
  font-size:100px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 720px;
  position: relative;
  top: 45px;
  right: 5px;
  margin-top: -35px;
}


.mute-button {
  background-color: #38002C;
  border: none;
  border-radius: 10px;
  padding: 5px 5px;
}

.mute-button:hover {
  cursor: pointer;
  background-color: #44183b;
}

.mute-button img {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  object-fit: contain;
}

.gui-movement {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: -40px;

}

.gui-movement button {
  background-color: #38002C;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movement {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin: 0px 20px;
  /* background-color: #4B1D52; */
  /* padding: 5px;
  border-radius: 10px; */
}

.info-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #38002C;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  max-width: 680px;
  width: calc(100% - 40px);
}

.controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.controls span {
  font-size: 32px;
  font-weight: 500;
  -webkit-text-stroke: 0.7px black;
  -webkit-text-fill-color: white;
}

.controls-hide {
  background-color: #38002C;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PixelGothic", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  -webkit-text-stroke: 0.5px black;
  -webkit-text-fill-color: white;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.controls-hide:hover {
 cursor: pointer;
 background-color: #44183b !important;
}

.gui-movement img {
  width: 24px;
}

.move-left img {
  transform: rotate(180deg);
}

.move-jump img {
  transform: rotate(-90deg);
}

.d-none {
  display: none;
}


@media (min-width: 1500px) and (min-height: 1000px) {

  .only-mobile {
    display: none;
  }
}




@font-face {
  font-family: "PixelGothic";
  src: url("fonts/Straight pixel gothic.otf");
}

/* ---------------Smartphones--------------- */
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .intro-screen {
    width: 100%;
  }

  .title-text {
    width: 440px;
  }

  h1 {
    font-size: 80px;
  }

  .menu {
    width: 100%;
  }

  .gui-movement {
    width: 100%;
  }

  .header {
    display: none;
  }

  .movement {
    margin: 0px 10px;
  }

  .hide-mobile {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .intro-screen {
    height: 100vh;
  }

  /* .gui-movement {
    height: 100vh;
    margin-top: -101vh;
  } */



  .header {
    display: none;
  }

  .movement {
    margin: 0px 10px;
  }

  .hide-mobile {
    display: none;
  }
}