body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/09_GUI/universe_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0px -1831px; */

}

h1 {
  font-family: "PixelGothic";
  font-size: 60px;
  color: white;
  letter-spacing: 10px;
}

canvas {
  background-color: black;
}

/* @font-face {
    font-family: "IskoolaPota";
    src: url("fonts/Iskoola Pota - Regular.ttf");
  } */

@font-face {
  font-family: "PixelGothic";
  src: url("fonts/Straight pixel gothic.otf");
}